<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create New Post</title>
	<head th:insert="partials/head :: head" />
</head>
<body>
<nav th:replace="partials/nav :: navbar" />

<main class="container">
	<div class="container d-flex justify-content-center">
		<h1 class="my-4">Create Post</h1>
	</div>
	<div class="container d-flex justify-content-center">
		<div class="card w-50">
			<form th:replace="partials/post ::postsForm(@{/posts/crete},'Create')"></form>
		</div>
	</div>
</main>

<script th:replace="partials/script :: script"></script>
</body>
</html>