<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Post</title>
	<head th:insert="~{partials/head :: head}"></head>
</head>
<body>
<nav th:replace="~{partials/nav :: navbar}"></nav>

<main class="container">
	<div class="container d-flex justify-content-center">
		<h1 class="my-4">Edit Post</h1>
	</div>
	<div class="container">
		<div class="card w-50 my-5 mx-auto">
			<form th:replace="~{partials/post ::postsForm(@{/posts/{id}/edit(id=${post.id})},'Edit')}"></form>
		</div>
	</div>
</main>

<script th:replace="~{partials/script :: script}"></script>
</body>
</html>