<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Post Details</title>
	<head th:insert="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<main class="container d-flex justify-content-center">
	<div th:object="${post}">
		<h1 class="text-center">Post</h1>
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h3 class="card-title"><span th:text="*{title}"></span></h3>
				<h5 class="card-text"><span th:text="*{body}"></span></h5>
			</div>
		</div>
	</div>
</main>

<script th:replace="partials :: script"></script>
</body>
</html>