<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Post Details</title>
	<head th:insert="~{partials/head :: head}"></head>
</head>
<body>
<nav th:replace="~{partials/nav :: navbar}"></nav>

<main class="container d-flex justify-content-center">
	<div th:object="${post}" class="container">
		<h1 class="text-center m-5">Post</h1>
		<div class="card w-75 m-auto">
			<div class="card-title">
				<h2 class="card-title text-center mt-3"><span th:text="*{title}"></span></h2>
			</div>
			<div class="card-body">
				<h5 class="card-text text-center"><span th:text="*{body}"></span></h5>
			</div>
			<div class="card-footer d-flex align-items-center">
				<span>Posted by: <span th:text="*{user.username}"></span></span>
				<span class="mx-auto" th:text="*{user.email}"></span>
				<a th:href="@{/posts/{id}/edit(id=${id})}" class="btn btn-dark 5">Edit Post</a>
			</div>
		</div>
	</div>
</main>

<script th:replace="~{partials/script :: script}"></script>
</body>
</html>