<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
	<h1>This content is only shown to authenticated users.</h1>
	
	<h2>User ID: <span th:text="${#authentication.principal.id}"/></h2>
	<p>Username: <span th:text="${#authentication.principal.username}"/></p>
	<p>Email: <span th:text="${#authentication.principal.email}"/></p>
</div>


</body>
</html>