<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Guess Dice Roll</title>
	<head th:insert="partials/head :: head" />
</head>
<body>
<nav th:replace="partials/nav :: navbar" />
<main>
	<h1>Dice Roll : <span th:text="${roll}"> Not Rolled.</span></h1>
	<h2>You guessed: <span th:text="${guess}"> No Guess Yet.</span></h2>
	<p th:text="${message}">Guess the dice roll bellow.</p>
	
	<div>
		<ul>
			<li><a href="/roll-dice/1" >1</a></li>
			<li><a href="/roll-dice/2" >2</a></li>
			<li><a href="/roll-dice/3" >3</a></li>
			<li><a href="/roll-dice/4" >4</a></li>
			<li><a href="/roll-dice/5" >5</a></li>
			<li><a href="/roll-dice/6" >6</a></li>
		</ul>
	</div>
</main>

<div th:replace="partials/script :: script"></div>
</body>
</html>