<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Guess Dice Roll</title>
</head>
<body>

<main>
	<h1 th:text="${roll}"></h1>
	<h2 th:text="${guess}"></h2>
	<p th:text="${message}">Guess the dice roll bellow.</p>
	
	<div>
		<ul>
			<li><a href="/roll-dice/1" >1</a></li>
			<li><a href="/roll-dice/2" >2</a></li>
			<li><a href="/roll-dice/3" >3</a></li>
			<li><a href="/roll-dice/4" >4</a></li>
			<li><a href="/roll-dice/5" >5</a></li>
			<li><a href="/roll-dice/6" >6</a></li>
		</ul>
	</div>
	
</main>

</body>
</html>